@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Antonio");
:root {
  font-size: 1rem; }

*,
:after,
:before {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 5px;
  background-color: #000000;
  font-family: "Antonio", "Arial Narrow", "Avenir Next Condensed", sans-serif;
  line-height: 1.5;
  color: #c7f; }

.text-black {
  color: #000000; }

.text-black-light {
  color: #262626; }

.text-black-dark {
  color: black; }

.bg-black {
  background-color: #000000; }

.bg-black-light {
  background-color: #262626; }

.bg-black-dark {
  background-color: black; }

.text-gray {
  color: #666688; }

.text-gray-light {
  color: #8f8fab; }

.text-gray-dark {
  color: #2f2f3f; }

.bg-gray {
  background-color: #666688; }

.bg-gray-light {
  background-color: #8f8fab; }

.bg-gray-dark {
  background-color: #2f2f3f; }

.text-white {
  color: #f5f6fa; }

.text-white-light {
  color: white; }

.text-white-dark {
  color: #a0aad0; }

.bg-white {
  background-color: #f5f6fa; }

.bg-white-light {
  background-color: white; }

.bg-white-dark {
  background-color: #a0aad0; }

.text-purple {
  color: #cc33ff; }

.text-purple-light {
  color: #df80ff; }

.text-purple-dark {
  color: #8600b3; }

.bg-purple {
  background-color: #cc33ff; }

.bg-purple-light {
  background-color: #df80ff; }

.bg-purple-dark {
  background-color: #8600b3; }

.text-violet {
  color: #9944ff; }

.text-violet-light {
  color: #c391ff; }

.text-violet-dark {
  color: #5900c4; }

.bg-violet {
  background-color: #9944ff; }

.bg-violet-light {
  background-color: #c391ff; }

.bg-violet-dark {
  background-color: #5900c4; }

.text-blue {
  color: #4455ff; }

.text-blue-light {
  color: #919bff; }

.text-blue-dark {
  color: #0012c4; }

.bg-blue {
  background-color: #4455ff; }

.bg-blue-light {
  background-color: #919bff; }

.bg-blue-dark {
  background-color: #0012c4; }

.text-green {
  color: #33cc99; }

.text-green-light {
  color: #70dbb8; }

.text-green-dark {
  color: #1a664d; }

.bg-green {
  background-color: #33cc99; }

.bg-green-light {
  background-color: #70dbb8; }

.bg-green-dark {
  background-color: #1a664d; }

.text-red {
  color: #dd4444; }

.text-red-light {
  color: #e98585; }

.text-red-dark {
  color: #891919; }

.bg-red {
  background-color: #dd4444; }

.bg-red-light {
  background-color: #e98585; }

.bg-red-dark {
  background-color: #891919; }

.text-orange {
  color: #ff7700; }

.text-orange-light {
  color: #ffa04d; }

.text-orange-dark {
  color: #803c00; }

.bg-orange {
  background-color: #ff7700; }

.bg-orange-light {
  background-color: #ffa04d; }

.bg-orange-dark {
  background-color: #803c00; }

.text-yellow {
  color: #ffcc33; }

.text-yellow-light {
  color: #ffdf80; }

.text-yellow-dark {
  color: #b38600; }

.bg-yellow {
  background-color: #ffcc33; }

.bg-yellow-light {
  background-color: #ffdf80; }

.bg-yellow-dark {
  background-color: #b38600; }

html {
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 15px; }

::-webkit-scrollbar-track {
  background-color: #121212;
  border-radius: 100vw;
  margin-block: 0.5em; }

::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
  border-radius: 100vw; }

::-webkit-scrollbar-thumb:hover {
  background-color: #3f3f3f; }

@supports (scrollbar-color: #2d2d2d #121212) {
  * {
    scrollbar-color: #2d2d2d #121212; } }

.row {
  width: 100%; }
  .row .col-1 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 8.33%; }
  .row .col-2 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 16.66%; }
  .row .col-3 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 25%; }
  .row .col-4 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 33.33%; }
  .row .col-5 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 41.66%; }
  .row .col-6 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 50%; }
  .row .col-7 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 58.33%; }
  .row .col-8 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 66.66%; }
  .row .col-9 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 75%; }
  .row .col-10 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 83.33%; }
  .row .col-11 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 91.66%; }
  .row .col-12 {
    float: left;
    box-sizing: border-box;
    padding-left: 4px;
    width: 100%; }
  .row:after {
    content: "";
    clear: both;
    display: table; }

.column,
.columns {
  width: 100%; }
  .column:first-child, .column:first-child,
  .columns:first-child,
  .columns:first-child {
    margin-left: 0; }

table th {
  text-align: center;
  text-transform: uppercase; }

table th,
table td {
  border-bottom: 1px solid #a0aad0;
  padding: 0.5rem; }

.button {
  display: block;
  cursor: pointer;
  border-radius: 1.35rem;
  height: 3rem;
  padding: 1.25rem 1.5rem 1rem;
  margin: 0;
  border-width: 0;
  text-align: right;
  text-transform: uppercase;
  font-family: "Antonio", "Arial Narrow", "Avenir Next Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  line-height: normal;
  text-decoration: none;
  color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .button:hover {
    filter: brightness(70%);
    outline: none; }

.container {
  display: flex;
  overflow: hidden; }
  .container .side-pane {
    width: 192px;
    min-width: 192px;
    text-align: right;
    text-transform: uppercase;
    font-size: 0.88rem;
    font-weight: bold;
    color: #000000; }
  .container .main-pane.stack-bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column; }
  .container .main-pane h1.page-title {
    color: #ff7700;
    font-size: 4rem;
    margin: 0 2rem 0 0;
    text-align: right; }
    .container .main-pane h1.page-title .highlight {
      color: #cc33ff; }
      .container .main-pane h1.page-title .highlight::before {
        content: ' • '; }

.panel {
  width: 100%;
  padding: 0.75rem; }
  .panel a {
    color: #000000;
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase; }

p {
  text-align: justify; }

.separator-top {
  border-top: 5px solid #000000; }

.separator-bottom {
  border-bottom: 5px solid #000000; }

.full-width {
  width: 100%; }

.full-height {
  height: 100%; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

/**
     * PADDING
     */
.pt-0 {
  padding-top: 0rem; }

.pr-0 {
  padding-right: 0rem; }

.pb-0 {
  padding-bottom: 0rem; }

.pl-0 {
  padding-left: 0rem; }

.p-0 {
  padding: 0rem; }

/**
     * MARGIN
     */
.mt-0 {
  margin-top: 0rem; }

.mr-0 {
  margin-right: 0rem; }

.mb-0 {
  margin-bottom: 0rem; }

.ml-0 {
  margin-left: 0rem; }

.m-0 {
  margin: 0rem; }

/**
     * HEIGHT, WIDTH
     */
.h-0 {
  height: 0rem; }

.w-0 {
  width: 0rem; }

/**
     * PADDING
     */
.pt-1 {
  padding-top: 1rem; }

.pr-1 {
  padding-right: 1rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pl-1 {
  padding-left: 1rem; }

.p-1 {
  padding: 1rem; }

/**
     * MARGIN
     */
.mt-1 {
  margin-top: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.mb-1 {
  margin-bottom: 1rem; }

.ml-1 {
  margin-left: 1rem; }

.m-1 {
  margin: 1rem; }

/**
     * HEIGHT, WIDTH
     */
.h-1 {
  height: 1rem; }

.w-1 {
  width: 1rem; }

/**
     * PADDING
     */
.pt-2 {
  padding-top: 2rem; }

.pr-2 {
  padding-right: 2rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pl-2 {
  padding-left: 2rem; }

.p-2 {
  padding: 2rem; }

/**
     * MARGIN
     */
.mt-2 {
  margin-top: 2rem; }

.mr-2 {
  margin-right: 2rem; }

.mb-2 {
  margin-bottom: 2rem; }

.ml-2 {
  margin-left: 2rem; }

.m-2 {
  margin: 2rem; }

/**
     * HEIGHT, WIDTH
     */
.h-2 {
  height: 2rem; }

.w-2 {
  width: 2rem; }

/**
     * PADDING
     */
.pt-4 {
  padding-top: 4rem; }

.pr-4 {
  padding-right: 4rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pl-4 {
  padding-left: 4rem; }

.p-4 {
  padding: 4rem; }

/**
     * MARGIN
     */
.mt-4 {
  margin-top: 4rem; }

.mr-4 {
  margin-right: 4rem; }

.mb-4 {
  margin-bottom: 4rem; }

.ml-4 {
  margin-left: 4rem; }

.m-4 {
  margin: 4rem; }

/**
     * HEIGHT, WIDTH
     */
.h-4 {
  height: 4rem; }

.w-4 {
  width: 4rem; }

/**
     * PADDING
     */
.pt-6 {
  padding-top: 6rem; }

.pr-6 {
  padding-right: 6rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pl-6 {
  padding-left: 6rem; }

.p-6 {
  padding: 6rem; }

/**
     * MARGIN
     */
.mt-6 {
  margin-top: 6rem; }

.mr-6 {
  margin-right: 6rem; }

.mb-6 {
  margin-bottom: 6rem; }

.ml-6 {
  margin-left: 6rem; }

.m-6 {
  margin: 6rem; }

/**
     * HEIGHT, WIDTH
     */
.h-6 {
  height: 6rem; }

.w-6 {
  width: 6rem; }

/**
     * PADDING
     */
.pt-8 {
  padding-top: 8rem; }

.pr-8 {
  padding-right: 8rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pl-8 {
  padding-left: 8rem; }

.p-8 {
  padding: 8rem; }

/**
     * MARGIN
     */
.mt-8 {
  margin-top: 8rem; }

.mr-8 {
  margin-right: 8rem; }

.mb-8 {
  margin-bottom: 8rem; }

.ml-8 {
  margin-left: 8rem; }

.m-8 {
  margin: 8rem; }

/**
     * HEIGHT, WIDTH
     */
.h-8 {
  height: 8rem; }

.w-8 {
  width: 8rem; }

.elbow-top-right-0 {
  border-top-right-radius: 0rem; }

.elbow-bottom-right-0 {
  border-bottom-right-radius: 0rem; }

.elbow-top-left-0 {
  border-top-left-radius: 0rem; }

.elbow-bottom-left-0 {
  border-bottom-left-radius: 0rem; }

.elbow-top-right-1 {
  border-top-right-radius: 1rem; }

.elbow-bottom-right-1 {
  border-bottom-right-radius: 1rem; }

.elbow-top-left-1 {
  border-top-left-radius: 1rem; }

.elbow-bottom-left-1 {
  border-bottom-left-radius: 1rem; }

.elbow-top-right-2 {
  border-top-right-radius: 2rem; }

.elbow-bottom-right-2 {
  border-bottom-right-radius: 2rem; }

.elbow-top-left-2 {
  border-top-left-radius: 2rem; }

.elbow-bottom-left-2 {
  border-bottom-left-radius: 2rem; }

.elbow-top-right-4 {
  border-top-right-radius: 4rem; }

.elbow-bottom-right-4 {
  border-bottom-right-radius: 4rem; }

.elbow-top-left-4 {
  border-top-left-radius: 4rem; }

.elbow-bottom-left-4 {
  border-bottom-left-radius: 4rem; }

.elbow-top-right-6 {
  border-top-right-radius: 6rem; }

.elbow-bottom-right-6 {
  border-bottom-right-radius: 6rem; }

.elbow-top-left-6 {
  border-top-left-radius: 6rem; }

.elbow-bottom-left-6 {
  border-bottom-left-radius: 6rem; }

.elbow-top-right-8 {
  border-top-right-radius: 8rem; }

.elbow-bottom-right-8 {
  border-bottom-right-radius: 8rem; }

.elbow-top-left-8 {
  border-top-left-radius: 8rem; }

.elbow-bottom-left-8 {
  border-bottom-left-radius: 8rem; }
