.btn {
    display: block;
    cursor: pointer;
    height: 3rem;
    width: 100%;
    padding: 1.25rem 1.5rem 1rem;
    margin: 0;
    border-width: 0;
    text-align: right;
    text-transform: uppercase;
    font-family: $lcars-font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: normal;
    text-decoration: none;
    color: $color-black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        filter: brightness(70%);
        outline: none;
    }

    &.btn-rounded {
        border-radius: 1.35rem;
    }
}