@mixin rounded-sides($rounded-radius: 1.35rem) {

    &.round-left {
        border-top-left-radius: $rounded-radius;
        border-bottom-left-radius: $rounded-radius;
    }

    &.round-right {
        border-top-right-radius: $rounded-radius;
        border-bottom-right-radius: $rounded-radius;
    }
}


label {
    display: block;
    height: 3rem;
    width: 100%;
    padding: 1.25rem 1rem 1rem;
    background-color: $color-purple;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: normal;
    color: $color-black;

    @include rounded-sides();
}

input,
input[type=email],
input[type=number],
input[type=search],
input[type=text],
input[type=tel],
input[type=url],
input[type=password] {
    display: block;
    height: 3rem;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: 0.6rem 0 0 1.35rem;
    background-color: lighten($color-purple, $lighten);
    // text-align: right;
    text-transform: uppercase;
    font-family: $lcars-font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: normal;
    color: $color-black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include rounded-sides();

    &:disabled {
        background-color: $color-gray;
        color: $color-black;
    }
}


select {
    display: block;
    height: 3rem;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: 0.6rem 0 0 1.35rem;
    background-color: lighten($color-purple, $lighten);
    // text-align: right;
    text-transform: uppercase;
    font-family: $lcars-font-family;
    font-weight: bold;
    font-size: 1rem;
    line-height: normal;
    color: $color-black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include rounded-sides();

    &:disabled {
        background-color: $color-gray;
        color: $color-black;
    }
}