:root {
    font-size: 16px;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3px;
    background-color: $color-black;
    font-family: $lcars-font-family;
    color: $color-purple;
}

a {
    cursor: pointer;
    text-decoration: none;
}
