:root {
    font-size: 1rem;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 5px;
    background-color: #000;
    font-family: $lcars-font-family;
    line-height: 1.5;
    color: #c7f;
}