.separator-top {
    border-top: 5px solid $color-black;
}

.separator-bottom {
    border-bottom: 5px solid $color-black;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

@each $key,
$value in $sizes {

    /**
     * PADDING
     */
    .pt-#{$key} {
        padding-top: $value;
    }

    .pr-#{$key} {
        padding-right: $value;
    }

    .pb-#{$key} {
        padding-bottom: $value;
    }

    .pl-#{$key} {
        padding-left: $value;
    }

    .px-#{$key} {
        padding-right: $value;
        padding-left: $value;
    }

    .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
    }

    .p-#{$key} {
        padding: $value;
    }

    /**
     * MARGIN
     */
    .mt-#{$key} {
        margin-top: $value;
    }

    .mr-#{$key} {
        margin-right: $value;
    }

    .mb-#{$key} {
        margin-bottom: $value;
    }

    .ml-#{$key} {
        margin-left: $value;
    }

    .mx-#{$key} {
        margin-right: $value;
        margin-left: $value;
    }

    .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
    }

    .m-#{$key} {
        margin: $value;
    }

    /**
     * HEIGHT, WIDTH
     */
    .h-#{$key} {
        height: $value;
    }

    .w-#{$key} {
        width: $value;
    }
}



@each $key,
$value in $sizes {
    .elbow-top-right-#{$key} {
        border-top-right-radius: $value;
    }

    .elbow-bottom-right-#{$key} {
        border-bottom-right-radius: $value;
    }

    .elbow-top-left-#{$key} {
        border-top-left-radius: $value;
    }

    .elbow-bottom-left-#{$key} {
        border-bottom-left-radius: $value;
    }
}