.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

@mixin spacers($label, $property, $size, $fraction, $value) {
    /**
     * PADDING/MARGIN
     */
    .#{$label}t-#{$size}#{$fraction} {
        #{$property}-top: $value !important;
    }
    .#{$label}r-#{$size}#{$fraction} {
        #{$property}-right: $value !important;
    }
    .#{$label}b-#{$size}#{$fraction} {
        #{$property}-bottom: $value !important;
    }
    .#{$label}l-#{$size}#{$fraction} {
        #{$property}-left: $value !important;
    }
    .#{$label}x-#{$size}#{$fraction} {
        #{$property}-right: $value !important;
        #{$property}-left: $value !important;
    }
    .#{$label}y-#{$size}#{$fraction} {
        #{$property}-top: $value !important;
        #{$property}-bottom: $value !important;
    }
    .#{$label}-#{$size}#{$fraction} {
        #{$property}: $value !important;
    }
}

@each $size, $value in $sizes {
    @include spacers("p", "paddding", $size, "", $value);
    @include spacers("m", "margin", $size, "", $value);
    /**
     * HEIGHT, WIDTH
     */
    .h-#{$size} {
        height: $value !important;
    }
    .w-#{$size} {
        width: $value !important;
    }
    .font-size-#{$size} {
        font-size: $value !important;
    }
}

@each $fraction, $value in $fractions {
    @include spacers("p", "padding", "0-", $fraction, $value);
    @include spacers("m", "margin", "0-", $fraction, $value);
    @include spacers("p", "padding", "1-", $fraction, $value);
    @include spacers("m", "margin", "1-", $fraction, $value);
    /**
     * HEIGHT, WIDTH
     */
    .h-0-#{$fraction} {
        height: $value !important;
    }
    .w-0-#{$fraction} {
        width: $value !important;
    }
    .h-1-#{$fraction} {
        height: $value !important;
    }
    .w-1-#{$fraction} {
        width: $value !important;
    }
}
