$lcars-font-family: 'Antonio', 'Arial Narrow', 'Avenir Next Condensed', sans-serif;

$lighten: 15;
$darken: 25;

$color-black: #000000;
$color-gray: #666688;
$color-white: #f5f6fa;
$color-purple: #cc33ff;
$color-violet: #9944ff;
$color-blue: #4455ff;
$color-green: #33cc99;
$color-red: #dd4444;
$color-orange: #ff7700;
$color-yellow: #ffcc33;

$colors: (
    "black": $color-black,
    "gray": $color-gray,
    "white": $color-white,
    "purple": $color-purple,
    "violet": $color-violet,
    "blue":$color-blue,
    "green": $color-green,
    "red": $color-red,
    "orange": $color-orange,
    "yellow":$color-yellow
);

$sizes: (
    "0": 0rem,
    "1": 1rem,
    "2": 2rem,
    "4": 4rem,
    "6": 6rem,
    "8": 8rem,
);